@font-face {
  font-family: 'taibei';
  src: url('../font/taibei.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'maoken';
  src: url('../font/manken.ttf');
  font-weight: normal;
  font-style: normal;
}