@import './font.scss';
@import './main.scss';
@import './animation.css';

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

html,
body,
a,
span,
p,
ul,
ol,
li,
div,
input,
button,
textarea {
  font-family: 'maoken';
  letter-spacing: 2px;
}

html {
  font-size: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  /* 去除默认的下划线 */
  outline: none;
  /* 去除旧版浏览器的点击后的外虚线框 */
  color: #FFF;
  /* 去除默认的颜色和点击后变化的颜色 */
}

#app {
  background: #f0f0f0;
}